/*--------------
About
---------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,nav{
    list-style-type: none;
}

body{
    font-weight: normal;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:#555;
    text-align: center; /*centering all element*/
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

a:hover{
    opacity: 1;
}

.round{
    border:6px solid #2196F3;
    border-radius: 50%;
}

hr{
    background-color: #2196f3;
    width: 150px;
    height: 2px;
    border:0;
    margin: 40px auto;
}

ul.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about{
    background-color: #f7f7f7;
}

.about .grid li{
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.about .grid li h4{
    color: #2196f3;
    font-size: 20px;
    margin-bottom: 25px;
}

.about .grid li p {
    margin: 0;
}



@media (max-width: 1000px){
    .about .grid li{
        flex-basis: 100%;
        margin-bottom: 65px;
    }
    
    .about .grid li:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 600px){
    .about .grid li{
        flex-basis: 100%;
    }
}
